.header{
    background-color: rgb(77, 72, 72);
    box-shadow: 9px 9px  16px rgb(0, 0, 0);
    z-index: 100;
    display: grid; 
    position: relative;
    grid-template-rows: 2fr 3fr;
}

.sideBar{
    background-image: linear-gradient(rgb(179, 51, 51), rgb(32, 30, 30));
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap:6rem;
    position: relative;
}

.mainContent{
    background-color: rgb(27, 27, 27);
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



body{
    
    width: 100vw;
    height: 100vh;
    font-family: halcom, sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.mainContent{
    display: grid;
    grid-template-columns: 3.7fr 1fr;
}

.article{
    background-color: rgb(77, 72, 72);
    border-radius: 15px;
    border-left: 16px solid rgb(23, 51, 110);
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
   
}

.leftSideMainContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 11fr;

}

.projectsHeader{
    grid-column: span 2;
    margin-left: 30px;
}

.articleContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-column: span 2;
    gap: 30px;
    margin-left:30px;
    margin-right:15px;
    margin-bottom: 30px;
}

.trending,
.announcements{
    background-color: rgb(77, 72, 72);
    border-radius: 15px;
}
.rightSideMainContent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.announcementContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4.8fr;
}

.trendingContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.dashboardHeader,
ul{
    color:white;
    font-size: 26px;
}

h1{
    color:white;
}

.mainActions,
.supportActions,
.dashboardHeader{
    position: relative;
    left: 3rem;
    top: 4rem;
}

li{
    list-style: none;
    font-size: 19px;
    margin-bottom: 1rem;
}

.material-symbols-outlined{
    margin-right: 1.5rem;
    position: relative;
    top: 0.3rem;
}

.projectsHeader,
.trendingHeader,
.announcementsHeader{
    position:relative;
    top: 2rem;
    font-size: 18px;
}

.searchContainer{
    align-items: center;
    position: relative;  
    flex-grow: 5;
}

input{
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    border-radius: 90px;
    height: 2rem;
    position: relative;
    left: 5.5rem;
    top:1rem;
    background-color: rgb(163, 167, 167);
}

.searchIcon{
    position: relative;
    left: 5.5rem;
    top:1.5rem;
    color: white;
}

.headerTop{
    display: flex;
    
}

.userInfo{
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap:3rem;
    position: relative;
    justify-content: center;
    
    
    
}

.profilePicture{
    background-image: url("https://pbs.twimg.com/media/Du41YaLWoAEJLU2?format=jpg&name=large");
    width: 3rem;
    height: 3rem;
    background-repeat: none;
    background-size: cover;
    background-position-x: 30%;
    border-radius: 90px;
    
    border: 3px solid rgb(23, 51, 110);
}

.notificationIcon{
    position: relative;
    left:2rem;
    top: -.3rem;
    color: white;
}

.userName{
    font-size: 22px;
    font-weight: 600;
    color:white;
}

.headerBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

button{
    padding: 0;
    margin: 0;
    width: 7rem;
    height: 2.4rem;
    border-radius: 90px;
    border: none;
    background-color: rgb(23, 51, 110);
    color: white;
    font-weight: 500px;
    font-size: 16px;
}

.buttons{
    display: flex;
    width: 35rem;
    gap: 1.5rem;
    position: relative;
    justify-content: flex-end;
    top:.5rem;
}

.pic2{
    height: 5rem;
    width: 5rem;
    z-index: 100%;
    position: relative;
    right: 4rem;

}

.greetingSection{
    position: relative;
    right: 20rem;
    gap:.6rem;
    display: flex;
    flex-direction: column;
}

.greeting{
    color: white;
}
.userName2{
    font-size: 26px;
}

.userName2:after{
    content:"(@spidaNinja2001)";
    position: absolute;
    left:11rem;
}

.interactions{
    display: flex;
    gap:1rem;
    justify-content: flex-end;
    position: relative;
    top: 1rem;
    right: 2rem;
}

.articleHeader{
    color: rgb(189, 187, 187);
    position: relative;
    margin-left: 2rem;
    font-size: 18px;
}

.articleContents{
    margin-left: 2rem;
    margin-right: 2rem;
    color:rgb(119, 117, 117);
}

.interaction{
    color: rgb(189, 187, 187);
}

.announcementLine{
    width: 80%;
    position: relative;
    margin: auto;
    background-color: rgb(39, 38, 38);
    margin-top: .4rem;
    
    
    
}

.announcement1,
.announcement2,
.announcement3{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
}
.announcement2{
    margin-top: .6rem;
}

.announcementHeader{
   color: rgb(189, 187, 187);
   font-size: 15px;
}

.announcementContent{
    color:rgb(119, 117, 117);
    font-size: 14px;
}

.announcement3{
    margin-top: .6rem;
}

.trendingItems{
    position: relative;
    display: flex;
    align-items: center;
    gap:1rem;
    left: 1rem;
    top: 1rem;
    margin-right: 1rem;
    
}

.trendingProfilePic1{
    background-image: url(.//img/doctorstrange1-650x365.jpg);
    width: 3rem;
    height: 3rem;
    background-repeat: none;
    background-size: cover;
    background-position-x: 30%;
    border-radius: 90px;
    
    border: 3px solid rgb(23, 51, 110);
}

.trendingProfilePic2{
    background-image: url(.//img/thanos-avengers-infinity-war-hd-ld.jpg);
    width: 3rem;
    height: 3rem;
    background-repeat: none;
    background-size: cover;
    background-position-x: 30%;
    border-radius: 90px;
    
    border: 3px solid rgb(23, 51, 110);
}

.trendingProfilePic3{
    background-image: url(.//img/wolvy.jpg);
    width: 3rem;
    height: 3rem;
    background-repeat: none;
    background-size: cover;
    background-position-x: 30%;
    border-radius: 90px;
    
    border: 3px solid rgb(23, 51, 110);
}

.trendingProfilePic4{
    background-image: url(.///img/natasha.jpg);
    width: 3rem;
    height: 3rem;
    background-repeat: none;
    background-size: cover;
    background-position-x: 30%;
    border-radius: 90px;
    
    border: 3px solid rgb(23, 51, 110);
}

.trending{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trendingUsername{
    color: rgb(189, 187, 187);
   font-size: 15px;
   font-weight: bold;
}

.trendingUserBio{
    color:rgb(119, 117, 117);
    font-size: 14px;

}

.trendingNameAndBio{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
 